*.class
*.o

# Library files
*.lo
*.la
*.so
*.a

# Executable files
*.out
*.exe

# Gedit files
*~

# eclipse
.metadata

# code::blocks
*.cbp

# Sublime Text
*.sublime-project

# Mac finder files
*.DS_Store
DerivedData
xcuserdata

# Vim temp files
*.swp
